/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


body {

    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
}

.colTemp {
    background: #792424;
}

#containerPatient {
    width: 70%;
    left: 5%;
}

@media screen and (max-width: 992px) {
    #containerPatient {
        width: 85%;
    }

    .position {
        margin: 0 auto;
    }

}

.position {
    margin: 0 auto;
}