<div class="mains">
    <div class="sup">
        <div class="sub">
            <a href="patient"><img src="./../../../assets/man.svg" alt="" height="40" srcset=""></a>
        </div>
    </div>
    <!-- <div class="sup">
        <div class="sub">
            <a href="#"><img src="./../../../assets/data.svg" alt="" height="40" srcset=""></a>
        </div>
    </div> -->
    <div class="sup">
        <div class="sub">
            <a href="#"><img src="./../../../assets/folder.svg" alt="" height="40" srcset=""></a>
        </div>
    </div>
    <div class="sup">
        <div class="sub">
            <a routerLink="appoint"><img src="./../../../assets/appoint.svg" alt="" height="40" srcset=""></a>
        </div>
    </div>
    <div class="sup">
        <div class="sub">
            <a href="#"><img src="./../../../assets/ordon.svg" alt="" height="40" srcset=""></a>
        </div>
    </div>
    <div class="sup">
        <div class="sub">
            <a href="#"><img src="./../../../assets/docteur.png" alt="" height="40" srcset=""></a>
        </div>
    </div>
    <div class="sup">
        <div class="sub">
            <a href="#"><img src="./../../../assets/home.svg" alt="" height="40" srcset=""></a>
        </div>
    </div>

    <!-- <div class="sup">
        <div class="sub">
            <div class="point">
                <a><img src="./../../../assets/logo_kidscare.svg" alt="" style="border-radius: 50%;" height="40" srcset=""></a>
            </div>
        </div>
    </div> -->
</div>